huggingface_hub
diffusers
transformers
xformers>=0.0.27.post2
gradio>=4.44.1
scepter
ms_swift
accelerate
bitsandbytes
optimum-quanto
protobuf
sentencepiece
hf_transfer
psutil
gputil
controlnet-aux
PEFT
mediapipe
para-attn
mmgp
torchao